<div class="div">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <input class="element" type="text" formControlName="email" placeholder="Enter email" required />
    <br>

    <input class="element" type="password" formControlName="password" placeholder="Enter password" required />
    <br>

    <button class="loginbtn" type="submit">Login</button>

  </form>

  <p class="dont_have">
    Don't have an account?
    <a routerLink="/register">Create an account</a>
  </p>
</div>