<div class="div">
  <h1>Registration</h1>

  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <input class="element" type="text" formControlName="name" placeholder="Enter your name" required />
    <input class="element" type="text" formControlName="surname" placeholder="Enter your surname" required />
    <input class="element" type="email" formControlName="email" placeholder="Enter an email address" required />

    <input class="element" type="password" formControlName="password_first" placeholder="Enter a password" required />
    <input class="element" type="password" formControlName="password_second" placeholder="Repeat the password" required />

    <button type="submit">Register</button>

  </form>

  <p class="already_have">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>