<div class="div">
    <h1>Registration</h1>
    <form
      method="POST"
      [formGroup]="registerForm" 
      (ngSubmit)="onRegister()"
    >
        <input class="element" type="text"  formControlName="email" placeholder="Enter an email address" name="username" id="username" required>
        <br>

        <input class="element" type="password" name="password_first" formControlName="password_first" placeholder="Enter a password" id="password_first" required>
        <br>

        <input class="element" type="password" name="password_second" formControlName="password_second" placeholder="Repeat the password" id="password_second" required>
        <br>

        <button (keydown.enter)="onRegister()" type="submit">Register</button>
    </form>

    <p class="already_have">
        Already have an account?
        <a routerLink="/login">Login</a>
    </p>

</div>